// Colors
// Sass map found in settings.scss

// primary:      $primary,
// secondary:    $secondary,
// success:      $success,
// alert:        $alert,
// warning:      $warning,
// black:        $black,
// white:        $white,
// light-gray:   $light-gray,
// medium-gray:  $medium-gray,
// dark-gray:    $dark-gray,
// teal:         $teal,


// Background color helper 
.bg {
  @each $color-name, $color-value in $colors {
    &-#{"" + $color-name} {
      background-color: $color-value !important;
    }
  }
}

// Color helper 
.c {
  @each $color-name, $color-value in $colors {
    &-#{"" + $color-name} {
      color: $color-value !important;
    }
  }
}

// Link helper 
.a {
  @each $color-name, $color-value in $colors {
    &-#{"" + $color-name} {
      color: $color-value !important;

      &:hover {

      }
    }
  }
}

// Icon helper 
.i {
  @each $color-name, $color-value in $colors {
    &-#{"" + $color-name} {
      svg {
        use { 
          fill: $color-value !important;
        }
      }
    }  
  }  
}
