{{> top-bar }}
{{> hero }}

<div class="content">
  <section class="row padding-top--2x padding-bottom--2x">
    <div class="large-12 columns">
      <h1>Hello, World!</h1>

      {{> text.paragraph}}
      {{> buttons.button text="My Button"}}
    </div>
  </section>

  <section class="row padding-bottom--2x">
    <div class="large-4 columns">
      {{> card header="Mad Max" divider="Movies"}}
    </div>
    <div class="large-4 columns">
      {{> card header="Road Warrior" divider="Cats"}}
    </div>
    <div class="large-4 columns">
      {{> card header="Fury Road" divider="Black & White"}}
    </div>
  </section>
</div>

{{> footer }}
